#block-exposedformsearchpage-1-2 {
  .form-type-textfield {
    display: none;
  }

  #edit-actions {
    button {
      text-indent: -9999px;
      background: none;
      border: none;
      box-shadow: none;
      line-height: 0;

      &:after {
        content: '\f0b0';
        display: block;
        font-family: FontAwesome;
        .font-size(18);
        text-indent: 0;
        line-height: initial;
        color: @bihus-dark-gray-text;
      }
    }
  }
}

.view-search {
  .view-content {
    clear: both;
    overflow: hidden;
  }

  article {
    footer,
    .user,
    .field--name-field-authors {
      display: none;
    }
  }

  .views-row {
    width: 100%;

    @media (min-width: @screen-md-min) {
      .col(6,12);

      &:nth-child(2n+1) {
        clear: left;
      }
    }
  }
}