#block-exposedformsearchpage-1-2 {
  margin: @pad @pad / 2 @pad20 @pad / 2;

  .form-type-textfield {
    display: none;
  }

  label {
    .title();
    margin-right: 10px;
    .font-size(14);
    color: @bihus-dark-gray-text;
  }

  #edit-actions {
    button {
      text-indent: -9999px;
      background: none;
      border: none;
      box-shadow: none;
      line-height: 0;

      &:after {
        content: '\f0b0';
        display: block;
        font-family: FontAwesome;
        .font-size(18);
        text-indent: 0;
        line-height: initial;
        color: @bihus-dark-gray-text;
      }

      &:hover {
        &:after {
          color: @bihus-red;
        }
      }
    }
  }
}

.view-search {
  .view-content {
    clear: both;
    overflow: hidden;
  }

  .article.teaser {
    footer,
    .user,
    .field--name-field-authors {
      display: none;
    }

    h2 a {
      .title();
      .font-size(14);
    }

    .cdate {
      .font-size(12);
      color: @bihus-red;
      font-weight: bold;
      line-height: 120%;
    }

    .field--name-field-teaser-text {
      .font-size(12);
      .line-height(16);
      margin-top: 10px;
    }

  }

  .views-row {
    width: 100%;
    margin-bottom: 40px;

    @media (min-width: @screen-md-min) {
      .col(6,12);

      &:nth-child(2n+1) {
        clear: left;
      }
    }
  }
}