.cover-wrap {
  margin-bottom: 40px;

  .media {

    h1 {
      margin-left: 0;
    }

    @media (min-width: 641px) {
      margin-top: -40px;
      margin-left: 30px;
    }

    @media (min-width: @screen-lg-min) {
      margin-top: -80px;
      margin-left: 60px;
    }
  }

  .media-body {
    @media (min-width: 641px) {
      padding-top: 50px;
    }

    @media (min-width: @screen-lg-min) {
      padding-top: 100px;
    }
  }

  .media-left,
  .media-object {
    width: 220px;
    height: 220px;

    @media (min-width: @screen-sm-min) and (max-width: @screen-md-max) {
      width: 110px;
      height: 110px;
    }
  }

  .field--name-field-organization {
    margin-left: 0;
  }

  @media (max-width: 640px) {
    .field--name-field-project-cover {
      display: none;
    }

    .media-left,
    .media-body {
      display: block;
    }
  }
}

.field--name-field-term-desc {
  margin-bottom: 40px;
}

.field--name-field-org-projects,
  .field--name-field-go-projects {
    margin-top: @pad * 2;
    margin-bottom: @pad * 2;

  .viewsreference-title {
    .title;
    .font-size(18);
    margin-bottom: @pad;
  }
}

