.region-sidebar-second {
  section.block {
    margin-bottom: @pad * 2;

    .block-title {
      border: @bihus-red 2px solid;
      text-align: center;
      .font-size(14);
      color: @bihus-dark-gray-text;
      .title();
      padding: 15px 5px;
      //background: @bihus-gray-bg;
      margin-top: 0;
      margin-bottom: 0;
    }

    .field--name-field-teaser-text {
      display: none;
    }
  }
}

#block-relatedtopicsblock {
  margin-bottom: 0;

  footer,
  .user {
    display: none;
  }

  .block-title {
    margin-top: @pad * 2;
    margin-bottom: 0;

    &:first-child {
      margin-top: 0;
    }
  }

  .more-link {
    display: block;

    &:last-child {
      margin-bottom: @pad * 2;
    }
  }

  article {
    margin-bottom: @pad20;
  }

  h2 {
    margin-top: 10px;
    margin-bottom: @pad / 3;

    a {
      color: @bihus-gray-text;
      .font-size(14);
      .line-height(20);
      text-decoration: none;
      display: block;
      font-weight: bold;

    }
  }

  .cdate {
    .font-size(12);
    color: @bihus-red;
    font-weight: bold;
    line-height: 120%;
  }

}

#block-views-block-blogs-block-1,
#block-views-block-in-blogs-block-1 {
  .views-row {
    padding-bottom: @pad;
  }

  .all-user-texts {
    display: none;
  }

  .block-title {
    border: @bihus-red 2px solid;
    text-align: center;
    .font-size(14);
    color: @bihus-dark-gray-text;
    .title();
    padding: 15px 5px;
    //background: @bihus-gray-bg;
    margin-top: 0;
    margin-bottom: 0;
  }

  .views-field-title {
    margin-top: @pad / 3;
    margin-bottom: @pad / 3;

    a {
      color: @bihus-gray-text;
      .font-size(14);
      .line-height(20);
      text-decoration: none;
      display: block;
      font-weight: bold;
    }
  }

  .views-field-created {
    .font-size(12);
    color: @bihus-red;
    font-weight: bold;
    line-height: 120%;
    margin-bottom: @pad / 3;
    display: block;
  }

  .views-field-uid,
  .views-field-field-authors {
    @avatar-height: 50px;
    margin-top: -10px;
    margin-left: 10px;
    position: relative;

    ul {
      padding-left: 0;

      li {
        list-style: none;
        display: inline-block;
      }

      li:first-child {
        .field--name-field-last-name,
        .field--name-field-first-name {
          display: none;
        }
      }

      li:last-child {
        .field--name-field-last-name,
        .field--name-field-first-name {
          display: inline-block;
        }
      }

      li + li {
        margin-left: -20px;

        .field--name-field-last-name,
        .field--name-field-first-name {
          display: none !important;
        }
      }
    }

    .field--name-user-picture {
      float: left;
      margin-right: 10px;

      img {
        height: @avatar-height;
        width: @avatar-height;
        border-radius: 100%;
        border: @bihus-bg 2px solid;
        background: @bihus-bg;
      }
    }

    .field--name-field-last-name,
    .field--name-field-first-name {
      .font-size(10);
      font-weight: bold;
      display: inline-block;
      margin-right: 5px;
      margin-top: 15px;
      color: @bihus-dark-gray-text;

      p {
        display: inline;
        margin: 0;
      }
    }
  }
}

#block-views-block-in-blogs-block-1 {
  .views-field-field-authors {

  }
}

#block-views-block-text-by-user-block-1 {
  .block-title {
    margin-bottom: @pad;
  }

  article {
    margin-bottom: @pad;
  }

  h2 {
    margin-top: @pad / 3;
    margin-bottom: @pad / 3;

    a {
      color: @bihus-gray-text;
      .font-size(14);
      .line-height(20);
      text-decoration: none;
      display: block;
      font-weight: bold;
    }
  }

  .cdate {
    .font-size(12);
    color: @bihus-red;
    font-weight: bold;
    line-height: 120%;
    margin-bottom: @pad / 3;
    display: block;
  }
}

#block-aboutusblock {
  a {
    display: block;
    position: relative;
    text-align: center;
    text-decoration: none;

    span {
      display: block;
      position: absolute !important;
      top: 30px;
      //width: 100%;
      text-align: center;
      left: 50%;
      transform: translate(-50%,0);
      white-space: nowrap;
      .title();
      color: white;

      .ani-border-link(@bihus-red);

      &:hover {
        color: @bihus-red !important;
      }
    }
  }

  .fb-page {
    margin-top: @pad;

    iframe {
      width: 100% !important;
    }
  }
}

#block-views-block-fresh-video-block-2,
.path-video .view-fresh-video,
.page-node-type-landing .view-lending-ng-dosudilisa-video {
  .view-header {
    h2 {
      .ani-border-link(@bihus-red);
      background: @bihus-gray-bg;
      margin-top: @pad / 2;
      margin-left: @pad / 2;
      margin-right: @pad / 2;
      margin-bottom: @pad;
      padding: 0;
      .title();
      color: @bihus-dark-gray-text;
      .font-size(14);
      cursor: pointer;

      a {
        display: block;
        .title();
        color: @bihus-dark-gray-text;
        .font-size(14);
        padding: 15px;
        text-decoration: none;
        position: relative;
        z-index: 1;
      }
    }
  }

  .node-project {
    display: inline;
    color: white;
    background: @bihus-red;
    padding: 2px 16px;
    border-radius: 20px;
    .font-size(12);
    text-transform: uppercase;
    margin-bottom: 20px;
  }

  .node-title {
    a {
      color: @bihus-text;
    }
  }

  .node-teaser-text {
    color: @bihus-text;
  }

  .node-created {
    color: @bihus-dark-gray-text;
  }

  .views-row {
    clear: both;
    overflow: hidden;
    background: @bihus-gray-bg;
    margin-bottom: @pad;
    margin-left: @pad / 2;
    margin-right: @pad / 2;
    position: relative;

    .views-field {
      width: 100%;

      @media (min-width: @screen-md-min) {
        width: 50%;
        float: left;
      }
    }

    &:last-child {
      .views-field-field-video {
        float: right;
      }

      .views-field-nothing {
        float: left;
      }
    }
  }

  .on-media-text {
    position: static;
    color: @bihus-text;
  }
}

.path-video .view-fresh-video,
.page-node-type-landing .view-lending-ng-dosudilisa-video {
  .views-row:nth-child(odd) {
    .views-field-field-video {
      float: left;
    }

    .views-field-nothing {
      float: right;
    }
  }

  .views-row:nth-child(even) {
    .views-field-field-video {
      float: right;
    }

    .views-field-nothing {
      float: left;
    }
  }
}

#block-views-block-fresh-video-block-1 {
  .views-row {
    margin-bottom: @pad20;
  }

  .block-title {
    border: @bihus-red 2px solid;
    text-align: center;
    .font-size(14);
    color: @bihus-dark-gray-text;
    .title();
    padding: 15px 5px;
    //background: @bihus-gray-bg;
    margin-top: 0;
    margin-bottom: @pad;
  }

  .views-field-title {
    margin-top: 10px;
    margin-bottom: @pad / 3;

    a {
      color: @bihus-gray-text;
      .font-size(14);
      .line-height(20);
      text-decoration: none;
      display: block;
      font-weight: bold;

    }
  }

  .views-field-created{
    .font-size(12);
    color: @bihus-red;
    font-weight: bold;
    line-height: 120%;
  }
}

#block-views-block-tags-news-block-1-2 {
  background: @bihus-gray-bg;

  .block-title {
    background: @bihus-bg;
  }

  .views-row {
    margin-bottom: @pad20;
    padding-left: @pad / 2;
    padding-right: @pad / 2;

    &:first-child {
      margin-top: @pad20;
    }
  }

  a {
    color: @bihus-gray-text;
    .font-size(12);
    .line-height(16);
    text-decoration: none;
    display: block;
    font-weight: bold;
    margin-bottom: 10px;
  }

  .views-field-created {
    .font-size(12);
    color: @bihus-red;
    font-weight: bold;
    line-height: 120%;
  }
}

.twitter_button {
  margin-top: 10px;
}

#block-youtubeblock {
  #___ytsubscribe_0 {
    width: 100% !important;

    iframe {
      width: 100% !important;
    }

    .yt-username {
      white-space: normal;
    }
  }
}

#block-aboutusblock,
#block-youtubeblock {
  padding: 20px;
  background: @bihus-gray-bg;
}

#block-aboutusblock {
  margin-bottom: 0;
  padding-bottom: 10px;
}


#block-subscribenewsesputnik {
  background: @bihus-gray-bg;
  padding: 5px 20px 20px 20px;

  h3 {
    .title();
    .font-size(16);
    margin: 0;
  }

  h3, p {
    //text-align: center;
  }

  p {
    .font-size(14);
  }
}

.modal {

  &.subscribe-popup {

    .close {
      font-size: 40px;
      color: black;
      text-shadow: none;
      opacity: 1;
      padding: 0 10px;
      background: white;

      &:hover {
        color: @bihus-red;
      }

      @media (min-width: @screen-sm-min) {
        background: none;
        margin-right: -30px;
        margin-top: -10px;
        padding: 0;
        color: white;
      }

    }
    .modal-header {
      border: none;
      height: 116px;
      background: url('../images/popup.png') no-repeat center center;
      background-size: cover;
    }

    .modal-body {
      overflow: hidden;
    }

    .blogo {
      background: url('../images/blogo.png') no-repeat left center;
      background-size: contain;
      width: 100%;
      height: 75px;
      margin-bottom: 25px;

      @media (min-width: @screen-sm-min) {
        height: 100px;
      }
    }

    .sb {
      display: block !important;
    }

    p {
      font-size: 14px;
      margin-bottom: 37px;
    }
  }
}

.region-sidebar-second {
  .bihus-banner {
    margin-bottom: @pad * 2;
  }
}

.footerbanner {
  margin-top: 45px;
  overflow: hidden;
  position: relative;
  z-index: 2;
}

.bihus-banner {
  width: 100%;

  &.banner-width-75 {
    width: 75%;
  }


  &.banner-width-67 {
    width: 67%;
  }

  &.banner-width-50 {
    @media (min-width: @screen-sm-min) {
      width: 50%;
      float: left;
    }
  }

  &.banner-width-33 {
    width: 33%;
  }

  &.banner-width-25 {
    width: 25%;
  }

  a {
    display: block;
    width: 100%;
    text-align: center;
    opacity: 0.8;
    transition: opacity 0.3s linear;

    &:hover {
      opacity: 1;
    }

    div {
      text-align: center;
    }

    img {
      max-width: 100%;
      height: auto;
      text-align: center;
      margin-left: auto;
      margin-right: auto;
    }

    &.strech {
      img {
        width: 100%;
        height: auto;
      }
    }
  }
}

.bihus-banner + .bihus-banner {
}

.footerbanner + .footer {
  margin-top: 0;
}