.on-media-text {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 20px;

  .node-project {
    margin-bottom:  20px;

    a {
      color: white;
      background: @bihus-red;
      padding: 2px 16px;
      border-radius: 20px;
      .font-size(12);
      text-transform: uppercase;
    }
  }

  .node-title {
    a {
      color: white;
      .font-size(20);
      font-weight: bold;
      text-decoration: none;
    }
  }

  .node-teaser-text {
    color: white;
    .font-size(13);
    .line-height(20);
    margin-top: 20px;
    display: none;

    @media (min-width: @screen-xl-min) {
      display: block;
    }
  }

  .node-created {
    color: @bihus-yellow;
    .font-size(13);
    font-weight: bold;
  }
}

.more-link {
  padding-bottom: 0;
  padding-left: @pad / 2;
  padding-right: @pad / 2;
  text-align: right;
  .title();
  .font-size(14);

  a {
    &:hover {
      color: black;
    }

    &:after {
      margin-left: 10px;
      .fa();
      content: '\f178';
    }
  }
}

#block-views-block-news-block-1 {
  .block-title {
    display: none;
  }
}

.view-news {
  .view-filters {
    margin-bottom: 0;
  }

  .views-exposed-form {
    display: none;
  }

  .view-content {
    @media (min-width: @screen-lg-min) {
      .col(5, 9);
    }
  }

  .attachment {
    @media (min-width: @screen-lg-min) {
      .col(4, 9);
    }

    .view-header {
      display: block;
      margin: 0 0 @pad 0 !important;
      background: @bihus-gray-bg;
      transition: 0.3s all linear;

      a {
        display: block;
        text-align: right;
        .title();
        color: @bihus-red;
        .font-size(14);
        .ani-border-link(@bihus-red);
        padding: 10px 15px;
      }

      &:hover {
        background: @bihus-bg;
      }
    }

    .view-content {
      .clear-col();
    }

    .views-field-nothing {
      a {
        text-decoration: none;
      }
    }

    .media-object {
      width: 100px;
    }

    .media-body {
      color: @bihus-red;
      .font-size(13);
      font-weight: bold;

      h4 {
        color: @bihus-dark-gray-text;
        .font-size(14);
        .line-height(20);
        font-weight: bold;
        text-decoration: none;
        display: block;

        @media (min-width: @screen-lg-min) and (max-width: @screen-xl-min) {
          .font-size(12);
          .line-height(18);
        }
      }
    }
  }

  .view-header {
    display: none;
  }

  .views-row {
    position: relative;
    margin-bottom: @pad;
  }

  .views-field-field-teaser-media {
    position: relative;
    .media-image();
  }
}

#block-views-block-our-dids-block-1 {
  margin-bottom: @pad;

  .block-title {
    background: @bihus-gray-bg;
    margin-left: @pad / 2;
    margin-right: @pad / 2;
    margin-bottom: @pad;
    padding: 15px;
    .title();
    color: @bihus-dark-gray-text;
    .font-size(14);
  }

  .views-row {
    margin-bottom: @pad;

    @media (min-width: @screen-lg-min) {
      .col(4,12);
    }

    .views-field-title {
      a {
        color: @bihus-dark-gray-text;
        .font-size(14);
        .line-height(20);
        font-weight: bold;
        text-decoration: none;
        display: block;
        margin-top: @pad20;
        //margin-bottom: @pad20;
      }
    }

    .views-field-created {
      color: @bihus-red;
      .font-size(13);
      font-weight: bold;
    }
  }
}

.view-our-dids {
  &.view-display-id-block_2 {
    .views-row {
      @media (min-width: @screen-sm-min) {
        .col(5,10);
      }

      @media (min-width: @screen-sm-min) and (max-width: @screen-md-max) {
        .node-title a {
          .font-size(16);
          .line-height(20);
          display: block;
        }
      }

      @media (min-width: @screen-lg-min) {
        .col(4, 10);
      }

      &:first-child {
        margin-bottom: @pad20;

        @media (min-width: @screen-sm-min) {
          .col(5,10);
          margin-bottom: 0;
        }

        @media (min-width: @screen-lg-min) {
          .col(6, 10);
        }
      }
    }
  }

  &.view-display-id-block_3 {
    .views-row {
      @media (min-width: @screen-sm-min) {
        .col(5,10);
      }

      @media (min-width: @screen-sm-min) and (max-width: @screen-md-max) {
        .node-title a {
          display: block;
          .font-size(16);
          .line-height(20);
        }
      }

      @media (min-width: @screen-lg-min) {
        .col(6,10);
      }


      &:first-child {
        margin-bottom: @pad20;

        @media (min-width: @screen-sm-min) {
          .col(5,10);
          margin-bottom: 0;
        }

        @media (min-width: @screen-lg-min) {
          .col(4,10);
        }

      }
    }
  }
}

//2 спецтеми
.block-views-blockour-dids-block-2,
.block-views-blockour-dids-block-3 {
  margin-bottom: @pad;

  .block-title {
    background: @bihus-gray-bg;
    margin-left: @pad / 2;
    margin-right: @pad / 2;
    margin-bottom: @pad;
    padding: 15px;
    .title();
    color: @bihus-dark-gray-text;
    .font-size(14);
  }

  .field-content {
    display: block;
    position: relative;
  }

  .on-media-text {
    .node-project {
      display: inline;
      color: white;
      background: @bihus-red;
      padding: 2px 16px;
      border-radius: 20px;
      .font-size(12);
      text-transform: uppercase;
      margin-bottom: 20px;
    }

  }

  .views-field-field-teaser-media {
    height: 296px;
    overflow: hidden;
    .media-image();

    .field-content {
      position: relative;
      height: 100%;
    }

    img {
      position: absolute;
      object-fit: cover;
      height: 100%;
      width: 100%;
      left: 50%;
      top: 50%;
      transform: translate(-50%,-50%);
    }
  }
}

// ми вплинули
.block-views-blockour-dids-block-4 {
  .block-title {
    border: @bihus-red 2px solid;
    text-align: center;
    .font-size(14);
    color: @bihus-dark-gray-text;
    .title();
    padding: 15px 5px;
    //background: @bihus-gray-bg;
    margin-top: 0;
    margin-bottom: @pad;
  }

  .form-group {
    background: @bihus-gray-bg;
    padding-bottom: @pad;
  }

  .views-row {
    padding-left: @pad / 2;
    padding-right: @pad / 2;

    img {
      display: none;
    }

    .on-media-text {
      position:  static;
      padding: 0;

      .node-title {
        margin-top: @pad;
        margin-bottom: @pad / 3;

        a {
          color: @bihus-gray-text;
          .font-size(14);
          .line-height(20);
          text-decoration: none;
          display: block;

        }
      }

      .node-created {
        .font-size(12);
        color: @bihus-red;
        font-weight: bold;
        line-height: 120%;
      }
    }

    &:first-child {
      position: relative;
      padding-left: 0;
      padding-right: 0;

      .views-field-nothing {
        padding: @pad / 2;

        @media (min-width: @screen-lg-min) {
          position: absolute;
          bottom: 0;
          left: 0;
        }
      }

      .views-field-field-teaser-media {
        .media-image();

        img {
          display: block;
        }
      }

      .node-title {
        a {

          font-weight: bold;
          .font-size(14);

          @media (min-width: @screen-lg-min) {
            color: white;
          }
        }
      }

    }
  }
}

.block-fieldblock {
  .article.teaser {
    footer {
      display: none;
    }
  }
}

.path-frontpage {
  .view-news{
    .view-header{
      display: none;
    }
  }

}

.view-text-by-user {
  footer,
  .field--name-field-authors,
  .user {
    display: none;
  }
}

.view-taxonomy-term {
  article {
    footer {
      display: none;
    }
  }
}

.submenu-container {
  background: @bihus-red;
  margin-bottom: @pad;

  @media (min-width: @screen-md-min) {
    height: 40px;
  }
}

.news-submenu {
  margin: 0;
  padding: 0;

  @media (min-width: @screen-md-min) {
    height: 40px;
  }

  li {
    display: inline-block;
    margin-right: 20px;

    a {
      position: relative;
      cursor: pointer;
      color: white;
      .font-size(12);
      text-transform: uppercase;
      cursor: pointer;
      transition:color 0.25s ease;
      display: block;
      z-index: 0;
      padding: 5px 10px;
      overflow: hidden;

      &:after {
        position: absolute;
        content: '';
        top: 50%;
        left: 50%;
        width: 1px;
        height: 1px;
        opacity: 0;
        transform: translate(-50%,-50%);
        background-color: darken(@bihus-red, 20%);
        //transform-origin:left;
        transition: all 1s ease;
        z-index:-1;
      }

      &:hover {
        text-decoration: none;
        //color: @bihus-red;

        &:after {
          width: 200px;
          height: 200px;
          border-radius: 100%;
          opacity: 1;
        }
      }
    }
  }
}