.view-news {

  .view-content {
    .col(5, 9);
  }

  .attachment {
    .col(4,9);

    .view-content {
      .clear-col();
    }

    .media-object {
      width: 100px;
    }
  }
}

.view-our-dids {
  &.view-display-id-block_1 {
    .views-row {
      .col(3,9);
    }
  }

  &.view-display-id-block_2 {
    .views-row {
      .col(3,9);

      &:first-child {
        .col(6,9);
      }
    }
  }

  &.view-display-id-block_3 {
    .views-row {
      .col(6,9);

      &:first-child {
        .col(3,9);
      }
    }
  }
}


.block-views-blockour-dids-block-4 {
  .views-row {
    img {
      display: none;
    }

    &:first-child {
      img {
        display: block;
      }
    }
  }
}

.block-fieldblock {
  .article.teaser {
    footer {
      display: none;
    }
  }
}

.path-frontpage {
  .views-exposed-form {
    display: none;
  }
}

.view-text-by-user {
  footer,
  .field--name-field-authors,
  .user {
    display: none;
  }
}