{#
/**
 * @file
 * Default theme implementation to display a bare minimum block.
 *
 * Available variables:
 * - $block->subject: Block title.
 * - $content: Block content.
 * - $block->module: Module that generated the block.
 * - $block->delta: An ID for the block, unique within each module.
 * - $block->region: The block region embedding the current block.
 * - $classes: String of classes that can be used to style contextually through
 *   CSS. It can be manipulated through the variable $classes_array from
 *   preprocess functions. The default values can be one or more of the
 *   following:
 *   - block: The current template type, i.e., "theming hook".
 *   - block-[module]: The module generating the block. For example, the user
 *     module is responsible for handling the default user navigation block. In
 *     that case the class would be 'block-user'.
 * - $title_prefix (array): An array containing additional output populated by
 *   modules, intended to be displayed in front of the main title tag that
 *   appears in the template.
 * - $title_suffix (array): An array containing additional output populated by
 *   modules, intended to be displayed after the main title tag that appears in
 *   the template.
 *
 * Helper variables:
 * - $classes_array: Array of html class attribute values. It is flattened
 *   into a string within the variable $classes.
 * - $block_zebra: Outputs 'odd' and 'even' dependent on each block region.
 * - $zebra: Same output as $block_zebra but independent of any block region.
 * - $block_id: Counter dependent on each block region.
 * - $id: Same output as $block_id but independent of any block region.
 * - $is_front: Flags true when presented in the front page.
 * - $logged_in: Flags true when the current user is a logged-in member.
 * - $is_admin: Flags true when the current user is an administrator.
 * - $block_html_id: A valid HTML ID and guaranteed unique.
 *
 * @ingroup templates
 *
 * @see bootstrap_preprocess_block()
 * @see template_preprocess()
 * @see template_preprocess_block()
 * @see bootstrap_process_block()
 * @see template_process()
 */
#}
{% block content %}
  <div class="container">
    <div class="col-sm-6 col-lg-3 footer-intro">
      <a class="footer-logo" href="/"><img src="/themes/bihus8/images/bihus-logo-inverse.png" alt="Bihus.info"/></a>
      <p>Bihus.info об'єднує антикорупційні проекти, які створює ГО "ТОМ 14" та ГО "Канцелярська сотня". <a href="/about">Детальніше</a></p>
      <div class="twitter_button"><a class="twitter-follow-button" href="https://twitter.com/BihusInfo" data-size="large" data-show-count="false">Follow @BihusInfo</a></div>
      <div><div class="g-ytsubscribe" data-channel="nashigroshiTV" data-layout="default" data-count="default"></div></div>
      <div><div class="fb-follow" data-href="https://www.facebook.com/bihus.info" data-layout="button_count" data-size="large" data-width="154" data-show-faces="true"></div></div>
      <div class="esputnik-mail">
        <h3>Підпишись на новини</h3>
        <iframe frameborder="0" src="https://secure.esputnik.com.ua/23oNbk6320s" width="80%" height="109" scrolling="no"></iframe>
      </div>
    </div>

    <div class="col-sm-6 col-lg-3 footer-news">
      <h3>Новини</h3>
      <ul>
        <li><a href="/news/all">Всі новини</a></li>
        <li><a href="/video">Свіжі ефіри</a></li>
        <li><a href="/taxonomy/term/2">Наші гроші (ТВ)</a></li>
        <li><a href="/taxonomy/term/3">Декларації</a></li>
        <li><a href="/taxonomy/term/20">Народне НАЗК</a></li>
        <li><a href="/taxonomy/term/19">Наші гроші. Досудилися.</a></li>
        <li><a href="/taxonomy/term/1">ГарнаХата</a></li>
      </ul>
    </div>

    <div class="col-sm-6 col-lg-3 footer-projects">
      <h3>Проекти</h3>
      <ul>
        <li><a href="/projects/nasi-grosi-tv">НАШІ ГРОШІ (ТВ)</a></li>
        <li><a href="/projects/deklaracii">ДЕКЛАРАЦІЇ</a></li>
        <li><a href="/projects/pidsumki-dna">ПІДСУМКИ ДНА</a></li>
        <li><a href="/projects/push">ТИСНИ!</a></li>
        <li><a href="/projects/narodne-nazk">НАРОДНЕ НАЗК</a></li>
        <li><a href="/projects/nasi-grosi-dosudilisa">НАШІ ГРОШІ. ДОСУДИЛИСЯ.</a></li>
        <li><a href="/projects/garnahata">ГАРНАХАТА</a></li>
        <li><a href="/projects/nasi-grosi-tv-arhiv-vipuskiv">НАШІ ГРОШІ (ТВ) - АРХІВ ВИПУСКІВ</a></li>
        <li><a href="/projects/tbi-znak-okliku-ta-tendernews">TBI: "ЗНАК ОКЛИКУ" ТА TENDERNEWS</a></li>
        <li><a href="/projects/do-corta-riznogo">ДО ЧОРТА РІЗНОГО</a></li>
      </ul>
    </div>

    <div class="col-sm-6 col-lg-3 footer-topics">
      <h3>Спецтеми</h3>
      <ul>
        <li><a href="/taxonomy/term/23" hreflang="uk">Ми вплинули</a></li>
        <li><a href="/taxonomy/term/29" hreflang="uk">Сергій Чеботар. МВС. Напад на журналістів</a></li>
        <li><a href="/taxonomy/term/28" hreflang="uk">Нагороди та перемоги</a></li>
        <li><a href="/taxonomy/term/26" hreflang="uk">Вугілля Міноборони</a></li>
        <li><a href="/taxonomy/term/22" hreflang="uk">Сигарета як куля</a></li>
        <li><a href="/taxonomy/term/30" hreflang="uk">Південно-західний диктатор. Олексій Кривопішин.</a></li>
        <li><a href="/taxonomy/term/32" hreflang="uk">Улюблений заступник Яреми</a></li>
        <li><a href="/taxonomy/term/25" hreflang="uk">Експорт горіхів</a></li>
        <li><a href="/taxonomy/term/847" hreflang="uk">Радикальні мільйони Олега Ляшка</a></li>
        <li><a href="/taxonomy/term/21" hreflang="uk">Межигір'я-2. Версаль Іванющенка</a></li>
        <li><a href="/taxonomy/term/24" hreflang="uk">БГ Банк</a></li>
        <li><a href="/taxonomy/term/27" hreflang="uk">Національне антикорупційне бюро України</a></li>
        <li><a href="/taxonomy/term/31" hreflang="uk">Бориспіль. Корупційний зліт</a></li>
      </ul>
    </div>

    <div class="col-sm-12 footer-copyright">
      <div><p>Bihus.info © 2015 - 2017</p></div>
      <div class="fcred">
        <div class="cl-block">
          <a class="clogos clogos_slab" href="http://schroedingerscatlab.com/" target="_blank">Лабораторія кота Шрьодінгера</a>
          <span class="ctext">Розроблено у Лабораторії кота Шрьодінгера</span>
        </div>
        <div class="fbanner"><a href="http://gijn.org/" target="_blank"><img class="gijn" src="/themes/bihus8/images/gijn.png" /></a><a href="http://ukr.net/" target="_blank"><img class="ukr-net" src="/themes/bihus8/images/ukr-net.png" /></a></div>
      </div>
    </div>
  </div>
{% endblock %}
