body {
  background: @bihus-bg;
  margin-top: 0;

  border-top: @bihus-red 6px solid;
}

a {
  color: @bihus-red;
}

.well {
  background: none;
  border: none;
  box-shadow: none;
  padding: 0;
}

.media-left,
.media > .pull-left {
  padding-right: @pad;
}

.form-control:focus {
  border-color: black;
  outline: 0;
  box-shadow: none;
}