@bihus-bg: #f5f5f5; //efeeee;
@bihus-gray-line: #cccccc;

@bihus-text: #262626;
@bihus-dark-gray-text: #606062;
@bihus-gray-text: @bihus-dark-gray-text;
@bihus-bold-text: #2e3335;

@bihus-gray-bg: #dedcdd;
@bihus-red: #e13f4c;
@bihus-yellow: #fec80c;

@bihus-blue: #1cb7eb;
@bihus-dark-blue: #4e71a8;

@bihus-line: @bihus-gray-line 1px solid;

@basefontsize: 18;

@pad: 30px;
@pad20: 20px;


@affix: 900;
