@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700,800&subset=cyrillic');
//@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,300i,700&subset=cyrillic');

@import '../bower_components/font-awesome/less/font-awesome.less';
@fa-font-path:        "../bower_components/font-awesome/fonts";

html {
  //font-size: 18px;
  //height: 100%;
  font-size: 16px;

  @media (min-width: @screen-sm-min) {
    font-size: 18px;
  }
}

body {
  font-family: 'Open Sans', sans-serif;
  color: @bihus-text;
  font-size: 1rem;
  .line-height (30);
}

